.energyComponent {
  width: 100%;
  padding: 3rem 0;
  background-color: #fff;
}

.rowParent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.row:hover {
  transform: scale(1.05);
  transition: all 0.5s;
  box-shadow: 0px 1.5px 3px 3px rgba(128, 128, 128, 0.575);
  border-radius: 20%;
}

.row {
  padding: 1rem;
}

.energys img {
  width: 15rem;
  margin: 0 1rem;
}

.energys p {
  text-align: center;
  font-size: 16px;
}
@media (max-width: 1270px) {
  .energys img {
    width: 12rem;
    margin: 0 0.7rem;
  }
}
@media (max-width: 1000px) {
  .energys img {
    width: 10rem;
    margin: 0 0.7rem;
  }
}
@media (max-width: 900px) {
  .energys img {
    width: 10rem;
    margin: 0 0.7rem;
  }
  .rowParent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .energys img {
    width: 12rem;
    margin: 0 1rem;
  }
  .rowParent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .energys img {
    width: 15rem;
  }
  .rowParent {
    grid-template-columns: 1fr;
  }
}
