.card {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-size: cover;
  transition: 0.5s;
  cursor: pointer;
  margin-top: 5%;
}

.main {
  position: absolute;
  bottom: -4rem;
  left: 2rem;
  transition: 0.5s;
}
.card:hover .main {
  bottom: 1rem;
}
.card:hover {
  transition: 0.5s;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.639) 0 100%),
    url("../../img/Projects/photo-02.jpg");
}
.btn {
  text-decoration: none;
  padding: 1rem;
  font-size: 1.6rem;
}
.title {
  font-size: 2.4rem;
  color: white;
  margin-top: 1rem;
  font-weight: 300;
}

.desc {
  font-size: 1.4rem;
  color: rgb(223, 171, 171);
}

@media (max-width: 800px) {
  .btn {
    font-size: 16px !important;
  }
  .title {
    font-size: 14px;
  }
  .desc {
    font-size: 12px;
  }
}

@media (max-width: 750px) {
  .btn {
    font-size: 20px !important;
  }
  .title {
    font-size: 18px;
  }
  .desc {
    font-size: 16px;
  }
}
@media (max-width: 549px) {
  .main {
    bottom: -7rem;
  }
}
@media (max-width: 437px) {
  .main {
    bottom: -5rem;
  }
  .btn {
    font-size: 16px !important;
  }
  .title {
    font-size: 14px;
  }
  .desc {
    font-size: 12px;
  }
}
