.card {
  width: 100%;
  background-color: #fff;
  padding: 2rem;
  margin: 2rem 0;
}
.news_parent__home {
  width: 90%;
  box-sizing: border-box;
  margin: 1rem auto;
  display: flex;
  align-items: flex-start;
  gap: 0 7rem;
  justify-content: space-between;
  background: #fff;
}

/* this class latest_news left news container and started */
.latest_news {
  width: 60%;
}
.first_title {
  font-size: 2.4rem;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  display: inline-block;
  margin-bottom: -0.1rem;
  font-weight: bold;
  text-align: left;
}
.title {
  width: 100%;
  margin: 2rem 0;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    rgba(0, 0, 0, 0.1),
    rgb(104, 104, 104),
    rgb(104, 104, 104)
  );
  border-image-slice: 1;
}
.news_left {
  cursor: pointer;
  box-sizing: border-box;
  padding: 1rem;
}
.news_left:hover {
  background-color: rgba(221, 221, 221, 0.5);
  transition: all 0.5s ease-in-out;
  border-radius: 1rem;
}
.news_left__img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.news_left__img_title {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 1rem 0;
}
.news_left__img_content {
  height: 4rem;
  margin-bottom: 1rem;
  overflow: hidden;
  font-size: 1.4rem;
}
.title_data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.render_news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}
/* this class latest_news left news container and finished*/

/*  */

/* this class popular_news left news container and finished*/
.render_popular_news {
  display: grid;
  grid-template-columns: 1fr;
  height: 80vh;
  overflow-y: scroll;
}
.render_popular_news::-webkit-scrollbar {
  width: 6px;
}

.render_popular_news::-webkit-scrollbar-button {
  height: 12px;
}
.render_popular_news::-webkit-scrollbar-thumb {
  background: rgba(186, 186, 186, 0.671);
  border-radius: 10px;
}
.render_popular_news::-webkit-scrollbar-thumb:hover {
  background: rgba(186, 186, 186, 1);
}

.popular_news {
  width: 40%;
}
.popular_news__img {
  width: 15rem;
  height: 12rem;
  object-fit: cover;
}
.popular_news_card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 1rem;
}
.popular_news_card:hover {
  background-color: rgba(221, 221, 221, 0.5);

  transition: all 0.5s ease-in-out;
}
.popular_news_card__left {
  width: 30%;
  margin-right: 1rem;
}
.popular_news_card__right {
  width: 70%;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.popular_news_card__right_title {
  font-size: 1.5rem;
  font-weight: bold;
}
.popular_news_card__right_text {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.date {
  font-size: 1.5rem;
  font-weight: 600;
}
/* this class popular_news left news container and finished*/
