.title {
  font-size: 2rem;
  color: black;
}
.input {
  margin-top: 1rem;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  font-size: 1.8rem;
  padding: 2rem;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.input::placeholder {
  font-size: 1.8rem;
}
