:root {
  --color-primary: #0073ab;
  --color-secondary: ##328fbb;
  --color-gray: #777777;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #f0f0f0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  margin: 0;
}

.container {
  max-width: 1320px;
  width: 80%;
  margin: 0 auto;
}

.btn {
  text-align: center;
  background-color: var(--color-primary);
  color: white;
  border: none;
  box-sizing: border-box;
  padding: 6px 8px;
}

.button {
  text-align: center;
  margin: 20px 0 0;
}

.text {
  font-size: 1.3rem;
  line-height: 1.5;
}

.active {
  transition: all 0.5s;
  /* font-size: 22px; */
  color: black !important;
}
