.container {
  width: 100%;
}

.card {
  background-color: #fff;
}

.image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.content {
  width: 100%;
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr 1fr;
}

.descrip {
  padding: 2rem;
}
