.card {
  background-color: #fff;
}

.image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.content {
  width: 100%;
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr 1fr;
}

.descrip {
  padding: 2rem;
}
.text {
  font-size: 18px;
  text-align: center;
}

@media (max-width: 1040px) {
  .text {
    font-size: 16px;
  }
}
@media (max-width: 802px) {
  .content {
    /* display: grid; */
    grid-template-columns: 1fr;
  }
}
