.img {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(
      90deg,
      rgba(54, 54, 66, 0.216) 100%,
      rgba(2, 0, 36, 1) 100%
    ),
    url(../../img/hero-Slider/5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0 0 2rem 0;
}
.imgBottom {
  width: 100%;

  background-color: rgba(0, 0, 0, 0.574);
  position: absolute;
  bottom: 0;
}
.imgBottom p {
  color: #fff;
  padding: 2rem;
  font-size: 32px;
}
.leftContainer {
  font-size: 22px;
  color: var(--color-primary);
}
.main2 {
  width: 100%;
  background-attachment: fixed;
  background-image: url(../../img/hero-Slider/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
}
.content2 {
  width: 100%;
  color: #fff;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.42);
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: space-around;
}
.content2 div {
  width: 20%;
}
