* {
  font-family: sans-serif;
}
.img {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(
      90deg,
      rgba(54, 54, 66, 0.216) 100%,
      rgba(2, 0, 36, 1) 100%
    ),
    url(../../img/hero-Slider/5.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0 0 2rem 0;
}
.imgBottom {
  width: 100%;

  background-color: rgba(0, 0, 0, 0.574);
  position: absolute;
  bottom: 0;
}
.imgBottom p {
  color: #fff;
  padding: 2rem;
  font-size: 32px;
}
.leftContainer {
  font-size: 22px;
  color: var(--color-primary);
}
.main2 {
  width: 100%;
  background-attachment: fixed;
  background-image: url(../../img/hero-Slider/1.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
}
.content2 {
  width: 100%;
  color: #fff;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 2rem;
  justify-content: space-around;
  margin: 0 auto;
}
.content2 div {
  width: 90%;
  margin: 2rem;
}
.content2 div h3 {
  margin: 2rem 0;
}
@media (max-width: 1131px) {
  .content2 div h3 {
    font-size: 20px;
  }
  .content2 div {
    font-size: 16px;
  }
}
@media (max-width: 842px) {
  .content2 div h3 {
    font-size: 18px;
  }
  .content2 div {
    font-size: 14px;
  }
  .leftContainer {
    font-size: 18px;
  }
}
@media (max-width: 700px) {
  .content2 div h3 {
    font-size: 22px;
  }
  .content2 div {
    font-size: 18px;
  }
  .content2 {
    grid-template-columns: 1fr;
  }
  .leftContainer {
    font-size: 16px;
  }
  ul li {
    font-size: 16px;
  }
}
@media (max-width: 450px) {
  .content2 div h3 {
    font-size: 18px;
  }
  .content2 div {
    font-size: 16px;
  }
}
