.background {
  height: 60vh;
  background-size: cover;
  background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.227) 0%,
      rgba(9, 9, 121, 0.214) 35%,
      rgba(0, 212, 255, 0.2) 100%
    ),
    url(../../img/enginier/pexels-pixabay-159397.avif);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.titleH1 {
  font-size: 3rem;
  text-transform: uppercase;
}
.paragrof {
  font-size: 1.6rem;
  margin: 2rem 0;
}
/* count div started */
.count {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}
.grid {
  text-decoration: none;
  overflow: hidden;
  position: relative;
}
.imgs1 {
  height: 30vh;
  width: 100%;
  transition: 1.5s;
  filter: brightness(0.7);
}
.text {
  position: absolute;
  bottom: 20px;
  margin-left: 2rem;
  font-size: 1.6rem;
  color: #fff;
}
.cell:hover .imgs1 {
  transform: scale(1.1);
  filter: brightness(1);
}
/* SERVICES started */
.DESIGNINGIMG {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
}
.DESIGNINGIMG img {
  width: 30rem;
  margin-bottom: 2rem;
}
.left {
  width: 40%;
  padding: 1rem;
}
.src {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.rightServices {
  width: 60%;
}
.left h2 {
  font-size: 24px;
  color: #2569f0;
}
.left p {
  font-size: 16px;
  width: 80%;
  margin: 1rem 0;
}
.designing,
.designing2 {
  width: 100%;
}
.designing {
  background-color: #fff;
}
.designing2 {
  background-color: #f0f0f0;
}
.textContent {
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* responsive started*/

@media (max-width: 1565px) {
  .DESIGNINGIMG {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .DESIGNINGIMG img {
    width: 90%;
  }
}
@media (max-width: 1360px) {
  .count {
    grid-template-columns: 1fr 1fr;
  }
  .cell img {
    height: 40vh;
  }
  .src {
    padding: 2rem;
  }
}
@media (max-width: 853px) {
  .count {
    gap: 1rem;
  }
  .cell img {
    height: 35vh;
  }
}
@media (max-width: 750px) {
  .cell img {
    height: 30vh;
  }
  .src {
    display: block;
    text-align: center;
  }
  .left,
  .rightServices {
    width: 100%;
  }
  .left p {
    width: 100%;
  }
  .left h2 {
    font-size: 20px;
  }
  .titleH1 {
    font-size: 2.4rem;
  }
  .paragrof {
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  .titleH1 {
    font-size: 2.4rem;
  }
  .paragrof {
    font-size: 1.6rem;
    width: 80%;
    text-align: center;
  }
  .cell img {
    height: 25vh;
  }
}
@media (max-width: 450px) {
  .titleH1 {
    font-size: 2rem;
    text-align: center;
  }
  .paragrof {
    font-size: 1.4rem;
  }
  .count {
    grid-template-columns: 1fr;
  }
  .cell img {
    height: 30vh;
  }
  .left p {
    font-size: 1.4rem;
  }
}
