:root {
  --color-primary-dark: #e0e0e0;
}
.background {
  background-image: url(../../img/enginier/backEnergy.jpg);
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  background-position: bottom;
  border-radius: 0 0 60% 60%;
  background-attachment: fixed;
  overflow: hidden;
  z-index: 2;
  position: relative;
}
.engineeringTitle {
  width: 100%;
  height: 65vh;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem;
  box-shadow: 0 1.5rem 3rem 1rem rgba(255, 255, 255, 0.5);
}
.titleH1 {
  font-size: 4rem;
  margin-top: 4rem;
  color: rgb(37, 105, 240);
  text-align: center;
  text-transform: uppercase;
  user-select: none;
}
.paragrof {
  font-size: 1.6rem;
  margin: 2rem 0;
  color: #2569f0;
  text-align: center;
  user-select: none;
}
.link2 {
  width: 35rem;
  background-color: rgb(37, 105, 240);
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 4rem auto;
  z-index: 2;
  user-select: none;
}
.linkAboutMenu {
  width: 90%;
  padding: 1rem 3rem;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.linkAboutMenu:hover {
  color: rgb(37, 105, 240);
}
.btns {
  width: 3rem;
  transform: translateX(-6rem);
  color: white;
}
.right {
  margin-left: -2rem;
  width: 4rem;
  color: #fff;
  transform: scale(2);
}
.link2:hover .right {
  transform: scale(2);
  transform: translateX(-3rem);
  transition: all 1s;
  opacity: 0;
  color: rgba(37, 105, 240, 0.833);
}
.link2:hover {
  background-color: white;
}

/* count div started */

.count {
  width: 70%;
  z-index: 9;
  margin: 2rem auto;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  position: sticky;
}
.grid {
  margin-left: 2rem;
  cursor: pointer;
}
.cell {
  height: 20rem;
}
.imgs1 {
  width: 35rem;
  height: 90%;
}
.text {
  font-size: 16px;
  color: #fff;
}
.textParent {
  width: 35rem;
  margin-top: -1rem;
  padding: 1rem;
  background-color: #2569f0;
}
.cell:hover .text {
  font-size: 18px;
  transition: all 1s;
}
.DESIGNINGIMG {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
}
.DESIGNINGIMG img {
  width: 30rem;
  align-items: center;
  margin-bottom: 2rem;
}
.left {
  width: 40%;
  margin: 2rem;
}
.src {
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: space-around;
}
.rightServices {
  width: 60%;
}
.left h2 {
  font-size: 24px;
  color: #2569f0;
}
.left p {
  font-size: 16px;
  width: 80%;
  margin: 1rem 0;
}
.designing,
.designing2 {
  width: 100%;
}
.designing {
  background-color: #fff;
}
.designing2 {
  background-color: #f0f0f0;
}
.textContent {
  font-size: 16px;
}
