:root {
  --color-primary-dark: #e0e0e0;
}

.background {
  padding: 10rem;
  height: 80vh;
  background-size: cover;
  background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.227) 0%,
      rgba(9, 9, 121, 0.214) 35%,
      rgba(0, 212, 255, 0.2) 100%
    ),
    url(../../img/enginier/pexels-pixabay-159397.avif);
  background-attachment: fixed;
}

.titleH1 {
  font-size: 4rem;
  margin-top: 4rem;
  color: rgb(253, 253, 253);
  text-align: center;
  text-transform: uppercase;
  user-select: none;
}
.paragrof {
  font-size: 1.6rem;
  margin: 2rem 0;
  color: rgb(253, 253, 253);
  text-align: center;
  user-select: none;
}
.link2 {
  width: 35rem;
  background-color: rgb(37, 105, 240);
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 4rem auto;
  z-index: 2;
  user-select: none;
}
.linkAboutMenu {
  width: 90%;
  padding: 1rem 3rem;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.linkAboutMenu:hover {
  color: rgb(37, 105, 240);
}
.btns {
  width: 3rem;
  transform: translateX(-6rem);
  color: white;
}

.right {
  margin-left: -2rem;
  width: 4rem;
  color: #fff;
  transform: scale(2);
}
.link2:hover .right {
  transform: scale(2);
  transform: translateX(-3rem);
  transition: all 1s;
  opacity: 0;
  color: rgba(37, 105, 240, 0.833);
}
.link2:hover {
  background-color: white;
}

/* count div started */

.count {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}
.grid {
  width: 100%;
  list-style: none;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}
.imgs1 {
  height: 30vh;
  width: 100%;
  transition: 1.5s;
  filter: brightness(0.7);
}

.text {
  position: absolute;
  bottom: 20px;
  margin-left: 2rem;
  font-size: 1.6rem;
  color: #fff;
}

.cell:hover .imgs1 {
  transform: scale(1.4);
  filter: brightness(1);
}
.DESIGNINGIMG {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
}
.DESIGNINGIMG img {
  width: 30rem;
  align-items: center;
  margin-bottom: 2rem;
}
.left {
  width: 40%;
  margin: 2rem;
}
.src {
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: space-around;
}
.rightServices {
  width: 60%;
}
.left h2 {
  font-size: 24px;
  color: #2569f0;
}
.left p {
  font-size: 16px;
  width: 80%;
  margin: 1rem 0;
}
.designing,
.designing2 {
  width: 100%;
}
.designing {
  background-color: #fff;
}
.designing2 {
  background-color: #f0f0f0;
}
.textContent {
  font-size: 16px;
}
