.header {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.479); */
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.267);
}
.title {
  font-size: 24px;
  color: #222;
}

.plus {
  padding: 10px;
  font-size: 20px;
  background-color: rgb(42, 226, 42);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.form {
  display: none;
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.5s;
  margin: 2rem 0;
  font-size: 1.6rem;
}

.form input {
  padding: 1rem;
  border: 1px solid black;
  height: 100%;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(40, 40, 40, 0.486);
  gap: 300px;
}

.deleteIcon {
  font-size: 24px;
  color: #fff;
}

.editIcon {
  font-size: 24px;
  color: #fff;
}

.editing {
  display: flex;
  opacity: 0;
  gap: 20px;
}

.card:hover .editing {
  opacity: 1;
}

.form2 {
  display: flex;
  justify-content: center;
}

.form1 {
  width: 50%;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  justify-content: center;
}

.form1 textarea {
  border: 1px solid black;
  resize: none;
  height: 10vh;
  outline: none;
}

.image img {
  width: 100px;
  height: 130px;
}

.left {
  gap: 20px;
  display: flex;
}
.delete {
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.356);
  background-color: rgb(238, 51, 51);
  border-radius: 5px;
  height: max-content;
}

.edit {
  padding: 10px;
  background-color: rgb(54, 149, 238);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.356);
  border-radius: 5px;
  height: max-content;
}

.text {
  margin-top: 5px;
  font-size: 16px;
  line-height: 1.5;
}

.about {
  font-size: 14px;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 20px;
}
