.header {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.479); */
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.267);
}
.title {
  font-size: 24px;
  color: #222;
}

.plus {
  padding: 10px;
  font-size: 20px;
  background-color: rgb(42, 226, 42);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.form {
  display: none;
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.5s;
}

.card {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(40, 40, 40, 0.486);
}

.deleteIcon {
  font-size: 24px;
  color: #fff;
}

.editIcon {
  font-size: 24px;
  color: #fff;
}

.editing {
  display: flex;
  opacity: 0;
  gap: 20px;
}

.card:hover .editing {
  opacity: 1;
}
