/* ////////////////////////////////////// start*/
.publication_card_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 3px 8px 35px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 3px 8px 35px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 3px 8px 35px 0px rgba(34, 60, 80, 0.2);
  cursor: pointer;
  margin: 4rem;
}
.arrow_right {
  width: 2rem;
  display: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.star {
  width: 1.5rem;
}
.star_parent {
  width: 17rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}
.publication_card_content:hover .arrow_right {
  display: block;
}
.publication_card_content_img {
  margin-right: 2rem;
}
.publication_card_content_img_one {
  width: 20rem;
  transform: scale(1.2);
  border-radius: 0.5rem;
}
.mini_title {
  font-size: 1.5rem;
  font-weight: bold;
}
.publication_card_render {
  margin: 0 auto;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.button_more {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_more_child {
  margin: 3rem auto;
  border-radius: 0.5rem;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  list-style: none;
  background-color: rgb(255, 98, 0);
}
.button_more_child:active {
  transform: scale(1.02);
}
.button_more_child:hover {
  color: #fff;
}

/* ////////////////////////////////////// finish*/

.background {
  margin-top: 30px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.618) 0 100%);
  padding: 10px 0 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.image {
  object-fit: cover;
  width: 200px;
  height: 280px;
}
@media (max-width: 1092px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
  .content img {
    width: 100%;
  }
  .content h3 {
    font-size: 1.8rem;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }
  .content img {
    width: 90%;
    margin: 1rem auto;
  }
  .content h3 {
    font-size: 1.8rem;
    text-align: center;
  }
}
