.background {
  margin-top: 30px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.418) 0 100%),
    url("../../img/hero-Slider/5.jpg");
  padding: 10px 0 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.image {
  object-fit: cover;
  height: 280px;
  width: 200px;
}
