/* ////////////////////////////////////// start*/
.container1 {
  width: 90%;
  margin: 0 auto;
}
.publication_card_content {
  cursor: pointer;

  -webkit-box-shadow: 3px 8px 35px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 3px 8px 35px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 3px 8px 35px 0px rgba(34, 60, 80, 0.2);
}
.publication_card_content_text {
  height: 100%;
  padding: 1rem;
  padding-left: 3rem;
  border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.publication_card_content__hero1 {
  position: relative;
  width: 100%;
  margin-left: 2rem;
}
.mini_title {
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: bold;
}
.mini_title2 {
  font-size: 1.8rem;
}
.arrow_right {
  width: 2rem;
  display: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.star_parent p {
  font-size: 1.6rem;
  margin: 1rem 0;
}
.star {
  width: 1.5rem;
  margin: 0 0.2rem;
}
.stars_gold {
  display: flex;
  align-items: center;
}
.star_parent {
  margin: 1rem 0;
}
.description_book {
  font-size: 1.4rem;
  width: 100%;
  overflow: hidden;
}
.publication_card_content:hover .arrow_right {
  display: block;
}
.publication_card_content_img {
  display: flex;
  width: 100%;
  z-index: 1;
}
.publication_card_content_img_one {
  width: 15rem;
  margin-left: -4rem;
  margin-top: -2rem;
  height: 20rem;
  border-radius: 0.5rem;
}

.publication_card_render {
  margin: 0 auto;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10rem;
}
.button_more {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_more_child {
  margin: 3rem auto;
  border-radius: 0.5rem;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  list-style: none;
  background-color: rgb(255, 98, 0);
}
.button_more_child:active,
.button:active {
  transform: scale(1.02);
}
.button_more_child:hover {
  color: #fff;
}
.button {
  width: 50%;
  font-size: 1.6rem;
  border: none;
  color: #fff;
  border-radius: 5px;
  background-color: rgb(255, 98, 0);
}

@media (max-width: 1280px) {
  .publication_card_render {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
  }
}
@media (max-width: 1080px) {
  .publication_card_render {
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
  }
  .publication_card_content_img_one {
    width: 13rem;
    margin-left: -3rem;
    height: 18rem;
  }
  .mini_title {
    font-size: 1.8rem;
    margin-top: 1rem;
    font-weight: bold;
  }
  .mini_title2 {
    font-size: 1.6rem;
  }
}
@media (max-width: 830px) {
  .publication_card_render {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
}
@media (max-width: 830px) {
  .publication_card_render {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .publication_card_content_img_one {
    width: 12rem;
    margin-left: -1rem;

    height: 16rem;
  }
  .publication_card_content {
    margin-top: 2rem;
  }
}

@media (max-width: 326px) {
  .button {
    width: 70%;
  }
}
/* ////////////////////////////////////// finish*/

/* .background {
  margin-top: 30px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.618) 0 100%);
  padding: 10px 0 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.image {
  object-fit: cover;
  width: 200px;
  height: 280px;
} */
/* @media (max-width: 1092px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
  .content img {
    width: 100%;
  }
  .content h3 {
    font-size: 1.8rem;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }
  .content img {
    width: 90%;
    margin: 1rem auto;
  }
  .content h3 {
    font-size: 1.8rem;
    text-align: center;
  }
} */
