.latest {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.featured {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
}

.futher {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: var(--color-primary);
  cursor: pointer;
}
