.myVideo {
  width: 100%;
  height: auto;
}
.headerVideo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -5%;
}
.title {
  font-size: 52px;
  line-height: 60px;
  font-weight: 600;
  color: #ffffff;
}
.content {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  width: 260px;
  height: 56px;
  background: #0057bd;
  box-shadow: 0px 4px 36px rgba(0, 87, 189, 0.6);
  border-radius: 11px;
  border: none;
  margin-top: 4rem;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: -0.01em;

  color: #ffffff;
}
.button:active {
  transform: translateY(1px);
  text-transform: uppercase;
}
.contentChild {
  position: absolute;
  padding-left: 10%;
}
.description {
  font-size: 16px;
  width: 50%;
  margin: 2rem 0;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.65);
}

@media (max-width: 830px) {
  .title {
    font-size: 2.2rem;
  }
  .description {
    font-size: 1.6rem;
  }
}
@media (max-width: 678px) {
  .headerVideo {
    margin-top: 5%;
    margin-bottom: -8rem;
  }
}
@media (max-width: 735px) {
  .title {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 1.8rem;
  }
  .description {
    font-size: 1.4rem;
  }
}
@media (max-width: 460px) {
  .headerVideo {
    margin-top: 10%;
  }
}
@media (max-width: 430px) {
  .headerVideo {
    margin-top: 15%;
    margin-bottom: -6rem;
  }
}
@media (max-width: 430px) {
  .headerVideo {
    margin-top: 16%;
    margin-bottom: -6rem;
  }
  .description {
    font-size: 14px;
    width: 100%;
  }
}
@media (max-width: 320px) {
  .headerVideo {
    margin-top: 20%;
  }
  .title {
    font-size: 16px;
    margin-top: -5px;
  }
}
