.myVideo {
  width: 100%;
  height: auto;
}
.headerVideo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -4%;
  z-index: -2;
}
.title {
  font-size: 26px;
}
.content {
  position: absolute;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 60%;
  padding: 2rem;
}
.description {
  font-size: 18px;
}

@media (max-width: 830px) {
  .title {
    font-size: 2.2rem;
  }
  .description {
    font-size: 1.6rem;
  }
  .content {
    width: 70%;
  }
}
@media (max-width: 678px) {
  .headerVideo {
    margin-top: 5%;
    margin-bottom: -8rem;
  }
}
@media (max-width: 735px) {
  .title {
    font-size: 2rem;
  }
  .content {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 1.8rem;
  }
  .description {
    font-size: 1.4rem;
  }
  .content {
    width: 100%;
  }
}
@media (max-width: 460px) {
  .headerVideo {
    margin-top: 10%;
  }
}
@media (max-width: 430px) {
  .headerVideo {
    margin-top: 15%;
    margin-bottom: -6rem;
  }
}
@media (max-width: 430px) {
  .headerVideo {
    margin-top: 16%;
    margin-bottom: -6rem;
  }
  .content {
    width: 100%;
    height: 100%;
  }
  .description {
    font-size: 14px;
    width: 100%;
  }
}
@media (max-width: 320px) {
  .headerVideo {
    margin-top: 20%;
  }
  .title {
    font-size: 16px;
    margin-top: -5px;
  }
}
