.myVideo {
  width: 100%;
  height: auto;
  /* position: absolute; */
  top: 0;
}

.headerVideo {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: -12%;
}
.title {
  font-size: 26px;
}
.content {
  position: absolute;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 60%;
  padding: 2rem;
}
.description {
  font-size: 18px;
}

@media (max-width: 830px) {
  .myVideo {
    /* width: auto; */
    /* height: 100%; */
    /* position: sticky; */
  }
  .title {
    font-size: 2.2rem;
  }
  .description {
    font-size: 1.6rem;
  }
  .content {
    width: 70%;
  }
}
@media (max-width: 735px) {
  .title {
    font-size: 2rem;
  }
  .content {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 1.8rem;
  }
  .description {
    font-size: 1.4rem;
  }
  .content {
    width: 100%;
  }
}
