.news {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}

.text {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.text p {
  cursor: pointer;
  color: white;
  font-size: 2rem;
}

.icon {
  color: white;
  font-size: 2rem;
}

.box {
  position: relative;
  height: 30vh;
  overflow: hidden;
}

.box1 {
  grid-column: 1/3;
  grid-row: 1/3;
  height: 62vh;
}
.box img {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  transition: 1s;
}
.box img:hover {
  filter: brightness(90%);
  transform: scale(1.2);
}

.bottom {
  bottom: 20px;
  left: 20px;
  position: absolute;
}
.subTitle h1 {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
.subTitle1 h1 {
  color: white;
  font-size: 1.6rem;
}
.text1 p {
  color: white;
  font-size: 1.2rem;
}
