.slider {
  margin-top: -5rem !important;
}

.category {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: -2rem;
}
.category_type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.main_hero_img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  margin-top: -2rem;
  /* object-position: center; */
}

.menu_type {
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem 1rem;
  user-select: none;
  list-style: none;
  transition: all 0.3s;
}
.menu_type_bottom {
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem 1rem;
  user-select: none;
  list-style: none;
  transition: all 0.3s;
  border-bottom: 3px solid var(--bs-blue);
}

.box {
  width: 20rem !important;
}

@media (max-width: 1283px) {
}
/* @media (max-width: px) {
} */
