.cardInfos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 4rem;
  justify-content: space-between;
}
@media (max-width: 1130px) {
  .cardInfos {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
@media (max-width: 632px) {
  .cardInfos {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .titleTop {
    margin-left: 3rem;
  }
}
@media (max-width: 632px) {
  .titleTop {
    margin-left: 0rem;
  }
  .cardInfos {
    margin-left: -4rem;
  }
}
@media (max-width: 454px) {
  .titleTop {
    margin-left: -1rem;
    font-size: 10px;
  }
  .cardInfos {
    margin-left: -7rem;
  }
}
