.benefits {
  background-image: linear-gradient(to top, #328fbb, #f0f0f0);
  padding: 2rem;
}

h1 {
  font-size: 26px;
  color: black;
  margin-bottom: 1rem;
  margin-top: -2rem !important;
}

.contentCard h2 {
  font-size: 24px;
  margin: 2rem 0;
  font-weight: 700;
  color: black;
}
.cardChild h3 {
  font-size: 22px;
  width: 45%;
  color: rgba(0, 0, 0, 0.849);
}
.cardChild img {
  width: 50%;
  height: 50vh;
  border-radius: 1rem;
}
.cardChild {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
