.parentContainer {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.slider {
  width: 80%;
  height: 23rem;
  /* margin: 0rem auto; */
  display: flex;
  justify-content: center;
  overflow: scroll;
}
.slayd {
  width: 35rem;
  padding: 2rem;
  background-color: #fff;
  /* margin: 2rem; */
  user-select: none;
}
.control_Slider {
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}
.control_Slider:active {
  transform: scale(1.05);
  transition: all 0.2s;
}
.CompanyImgs {
  text-align: center;
}
.CompanyImgs h2 {
  font-size: 2rem;
  color: #fff;
}
.title {
  text-align: center;
}
@media (max-width: 768px) {
  .control_Slider {
    transform: scale(0.5);
  }

  .parentContainer {
    width: 90vw;
  }
}
@media (max-width: 500px) {
  .control_Slider {
    transform: scale(0.5);
  }

  .parentContainer {
    width: 95vw;
    margin-left: -4rem;
  }
}
@media (max-width: 400px) {
  .control_Slider {
    transform: scale(0.5);
  }

  .parentContainer {
    width: 95vw;
    margin-left: -3rem;
  }
  .slider {
    width: 200%;
  }
}
.box {
  height: 20vh;
  width: 50%;
  margin: 0 auto;
  padding: 1rem 0;
}
.big {
  padding: 1rem 0 5rem 0;
  background-color: #0875a420;
  margin: 2rem 0;
}
