.box {
  height: 30vh;
  /* mamur shu padding razmerida turvursin */
  padding: 7rem 7rem;
  /* shunaqa razmer yaxshi bo'masa kotta bo'p ketvoti */
}

@media (max-width: 1395px) {
  .box {
    height: 40vh;
  }
}
@media (max-width: 900px) {
  .box {
    height: 30vh;
  }
}
@media (max-width: 600px) {
  .box {
    height: 28vh;
  }
}
@media (max-width: 480px) {
  .box {
    height: 25vh;
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
