.parentContainer {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.slider {
  width: 80%;
  height: 25rem;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  overflow: scroll;
}
.slayd {
  width: 35rem;
  padding: 2rem;
  background-color: #fff;
  margin: 2rem;
  user-select: none;
}
.control_Slider {
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}
.control_Slider:active {
  transform: scale(1.05);
  transition: all 0.2s;
}
@media (max-width: 768px) {
  .control_Slider {
    transform: scale(0.5);
  }

  .parentContainer {
    width: 90vw;
  }
}
@media (max-width: 500px) {
  .control_Slider {
    transform: scale(0.5);
  }

  .parentContainer {
    width: 95vw;
    margin-left: -4rem;
  }
}
@media (max-width: 400px) {
  .control_Slider {
    transform: scale(0.5);
  }

  .parentContainer {
    width: 95vw;
    margin-left: -3rem;
  }
  .slider {
    width: 200%;
  }
}
.box {
  height: 25vh;
  width: 100%;
  padding: 1rem;
}
.big {
  padding: 5rem 0;
  background-color: #98b2db;
}
