.education {
  background-color: #f0f0f0;
  width: 100%;
}
.hero {
  width: 100%;
  height: 50vh;
  background-image: url(../../img/education/bg.avif);
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroTitle {
  width: 50%;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 1rem;
  user-select: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.title {
  font-size: 36px;
  margin: 1.5rem 0;
  color: #fff;
}
.heroTitle p {
  font-size: 20px;
  color: #f0f0f0;
  text-align: center;
}
.heroTitle h4 {
  font-size: 18px;
  margin: 1rem 0;
  color: #f0f0f0e9;
}
.main {
  padding: 2rem;
  background-color: #fff;
}
.bottom {
  width: 40%;
  height: 2px;
  margin: 1rem auto;
  background-color: rgba(0, 0, 0, 1);
}
.main2 h2 {
  font-size: 22px;
  margin-top: 4rem;
  text-align: center;
  user-select: none;
}
.main2 p {
  margin: 1.5rem 0;
  font-size: 18px;
}
.main2 h4 {
  font-size: 20px;
}
.imgs {
  width: 8rem;
  height: 8rem;
  margin: 0rem 3rem;
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: 2rem;
}
.card div {
  width: 25%;
  margin: 1rem auto;
  text-align: center;
}
.card div h2 {
  font-size: 16px;
  width: 15rem;
  margin: 1rem auto;
  color: #328fbb;
}
.card div p {
  font-size: 14px;
  width: 15rem;
}
.card div:hover .imgs {
  transform: scale(1.1);
  transition: all 1s;
}
.training {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  margin: 2rem 0;
}
.news {
  width: 80%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #328fbb;
}

.title2 {
  font-size: 24px;
  color: #fff;
  text-align: center;
}
.bottom2 {
  width: 20%;
  height: 2px;
  margin: 1rem auto;
  background-color: rgb(255, 255, 255);
}
.news p {
  font-size: 18px;
  color: #fff;
  text-align: center;
}
.description {
  margin: 2rem auto;
  background-color: #2181ae;
  padding: 1rem 2rem;
  display: inline-block;
  text-align: center;
  border-radius: 1rem;
  user-select: none;
}
.description:active {
  transition: all 0.1s;
  transform: scale(1.06);
}
.news {
  text-align: center;
}
.features {
  width: 100%;
  padding: 2rem;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.5)
    ),
    url(../../img/education/bg.avif);
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottomGrid {
  width: 80%;
  border-radius: 1rem;
  padding: 2rem;
  background-color: #4390b4d8;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
}
.icons {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem;
}
.colMd {
  display: flex;
  align-items: center;
}
.colMd h3 {
  font-size: 16px;
}
.textType {
  width: 70%;
  margin: 1rem auto;
  text-align: center;
}
.textType p {
  font-size: 14px;
  margin: 1rem 0;
}

@media (max-width: 1085px) {
  .education {
    margin-top: 2rem;
  }
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
  }
  .card_child {
    width: 50%;
    margin: 0 auto;
  }
  .card div p {
    width: 25rem;
    text-align: center;
  }
  .card div h2 {
    width: 25rem;
  }
  .imgs {
    width: 20rem;
  }
}

@media (max-width: 786px) {
  .bottomGrid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .heroTitle h1 {
    font-size: 24px;
  }
  .heroTitle {
    width: 90%;
  }
  .heroTitle p {
    font-size: 20px;
    padding: 0 2rem;
  }
}
@media (max-width: 732px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    margin-left: -4rem;
  }
  .heroTitle h1 {
    font-size: 20px;
  }
  .heroTitle {
    width: 90%;
  }
  .heroTitle p {
    font-size: 16px;
    padding: 0 2rem;
  }
  .heroTitle h4 {
    font-size: 18px;
  }
}
@media (max-width: 648px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    margin: -4rem;
    transform: scale(0.8);
  }
}
@media (max-width: 562px) {
  .card {
    display: grid;
    margin: 5rem 0rem;
    margin-left: -5rem;
    grid-template-columns: 1fr !important;
    transform: scale(1.1);
  }
  .title2 {
    font-size: 20px;
  }
  .news p {
    font-size: 16px;
  }
  .description {
    font-size: 16px;
    padding: 1rem;
  }
  .heroTitle {
    transform: scale(0.8);
  }
}
@media (max-width: 431px) {
  .card {
    margin-left: -6rem;
  }
  .heroTitle h1 {
    font-size: 18px;
  }
  .heroTitle {
    width: 90%;
  }
  .heroTitle p {
    font-size: 16px;
    padding: 0 2rem;
  }
}
@media (max-width: 350px) {
  .card_child {
    transform: scale(0.8);
  }
  .heroTitle {
    margin-top: 5rem;
  }
}
@media (max-width: 310px) {
  .card_child {
    transform: scale(0.8);
    margin-left: 8rem !important;
  }
}
