.shablon2 {
  width: 100%;
  box-sizing: border-box;
  padding: 4rem;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgba(4, 189, 228, 1) 0%,
    rgba(2, 83, 185, 1) 100.2%
  );
}
.titleSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
