.shablon2 {
  width: 100%;
  box-sizing: border-box;
  padding: 4rem;
  margin: 0;
  padding: 0;
  height: 90vh;
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgba(4, 189, 228, 1) 0%,
    rgba(2, 83, 185, 1) 100.2%
  );
  color: #fff;
}
.titleSection {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.imgTitle {
  width: 45rem;
  margin: 2rem;
  margin-left: 0;
}
.text {
  width: 60%;
  text-align: left;
  margin: 4rem 0;
  font-size: 18px;
}
.typeContent {
  width: 1rem;
  padding: 1rem 0;
  font-size: 22px;
  border-width: 10px !important;
  display: inline;
  border-radius: 2rem;
  border-bottom: 2px solid var(--color-primary);
}
.rightSection {
  width: 120%;
  margin: 0rem;
  padding: 2rem;
}
.contentRight {
  font-size: 22px;
}
.title {
  text-align: center;
  color: #fff;
  padding-top: 4rem;
}
.rightSection p {
  font-size: 18px;
  margin: 2rem 0;
}
.ulTable {
  font-size: 16px;
}
.ulTable li {
  margin: 1rem 2rem;
}
