.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  width: 100%;
  background-color: #f0f0f0;
  height: 70vh;
  z-index: 9;
}

.main {
  width: 100%;
  background-color: #fff;
}

.title {
  margin-bottom: 10px;
  margin-left: 30px;
  margin-top: 15px;
  font-size: 32px;
  color: #333;
  text-align: start;
}

.items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.item {
  font-size: 18px;
  font-weight: 700;
}

.items a {
  text-decoration: none;
  display: flex;
  padding: 15px 30px;
  align-items: center;
  gap: 10px;
}

.items a:hover {
  background-color: #868383;
}

.icon {
  /* color: var(--color-primary); */
  font-size: 18px;
}
