.title {
  font-size: 2rem;
  color: black;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.input::placeholder {
  font-size: 1.8rem;
}
