.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  /* margin: 40px; */
}

.book {
  display: flex;
  gap: 20px;
}

.title {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.text {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
  line-height: 1.5;
}
