.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
}

.book {
  display: flex;
  gap: 20px;
}

.title {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.text {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
  line-height: 1.5;
}

.date {
  margin: 10px 0;
  font-size: 14px;
  color: var(--color-primary);
}

.isbn {
  font-size: 14px;
  margin-bottom: 10px;
}
