.cards {
  width: 90%;
  padding: 2rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  justify-content: space-between;
}
.cardLevel img {
  width: 100%;
}
.cardLevel {
  background-color: var(--color-secondary);
}
.cardLevel:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}
.cardLevel p {
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 1rem;
}
@media (max-width: 1175px) {
  .cards {
    margin-top: 10rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1070px) {
  .cards {
    gap: 4rem;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
  }
}
@media (max-width: 950px) {
  .cards {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .cards {
    width: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .cardLevel {
    margin-bottom: 4rem;
  }
  .cardLevel p {
    font-size: 1.4rem;
  }
}
