header {
  position: relative;
  z-index: 9999;
}
.header-navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}
header .navbarUl,
.header-navbar {
  font-size: 1.4rem;
}
header .navbarUl ul li,
.header-navbar ul li {
  position: relative;
  float: left;
}
header .navbarUl ul li img {
  width: 20px;
  height: 20px;
}
header .navbarUl ul li span {
  color: white;
}
header .navbarUl ul li a,
.header-navbar ul li a {
  padding: 1.6rem;
  width: 100%;
}
header .navbarUl ul li a:hover,
.header-navbar ul li a:hover {
  background-color: #222;
}
header .navbarUl ul li:focus-within > ul,
header .navbarUl ul li:hover > ul,
.header-navbar ul li:focus-within > ul,
.header-navbar ul li:hover > ul {
  display: initial;
  z-index: 10000;
}
header .navbarUl ul li ul,
.header-navbar ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 150px;

  background-color: #fff;
  display: none;
}
.header-navbar ul li ul {
  width: 300px;
}
header .navbarUl ul li ul li span,
.header-navbar ul li ul li a {
  color: #222;
}
header .navbarUl ul li ul li a:hover span,
.header-navbar ul li ul li a:hover {
  color: #fff;
}
header .navbarUl ul li ul li a,
.header-navbar ul li ul li a {
  width: 100%;
  display: flex;
  gap: 1rem;
}
header .navbarUl ul li ul li,
.header-navbar ul li ul li {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header-navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: #fff;
}
.header-navbar ul li a {
  font-size: 1.4rem;
  color: #fff;
  display: inline-block;
}

.menu-berger-label {
  display: none;
}
@media (max-width: 1024px) {
  header .navbarUl {
    font-size: 1rem;
  }
  header .navbarUl ul li img {
    width: 1.6rem;
    height: 1.6rem;
  }
  header .menu-berger-label img {
    width: 2.8rem;
    height: 2.8rem;
  }
  .header-navbar ul li a {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  header .navbarUl ul li span {
    font-size: 1rem;
  }
  header .navbarUl ul li img {
    width: 1.4rem;
    height: 1.4rem;
  }
  header .menu-berger-label img {
    width: 2.2rem;
    height: 2.2rem;
  }
  .header-navbar ul li a {
    font-size: 0.8rem;
  }
  /*  */

  header .menu-berger-label {
    display: flex;
  }
  header .header-logo-container {
    display: none;
  }
  /*  */
  .header-navbar {
    position: absolute;
    top: 4rem;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
  }
  .header-navbar ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    width: 200px;
  }
  .header-navbar ul li {
    border-bottom: 1px solid #0001;
    width: 100%;
  }
  .header-navbar ul li a {
    color: #000;
    width: 100%;
  }
  .header-navbar ul li ul {
    position: relative;
    width: 100%;
  }
  .header-navbar ul li ul li {
    background-color: #eee;
  }
  .header-navbar ul li ul li ul {
    width: 100%;
    left: 0;
  }
}
@media (max-width: 640px) {
  header .navbarUl ul li span {
    font-size: 1rem;
  }
  header .navbarUl ul li img {
    width: 1.2rem;
    height: 1.2rem;
  }
  header .navbarUl ul li a {
    padding: 1rem;
  }
  header .menu-berger-label img {
    width: 2rem;
    height: 2rem;
  }
  .header-navbar {
    top: 3.2rem;
  }
  .header-navbar ul li a {
    font-size: 1rem;
  }
}
@media (max-width: 640px) {
}
