.main {
  width: 100%;
  padding: 2rem 0;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
}
.header {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuIcon NavLink {
  margin-right: 1rem;
}
.link {
  font-size: 1.5rem;
}
