.background {
  width: 100%;
  background-color: var(--color-primary);
  padding: 30px;
  margin: 10px 0 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  width: 500px;
  height: 40px;
  border: none;
  padding: 10px;
}

.search:focus {
  outline: none;
}

.button {
  border: none;
  height: 40px;
  width: 50px;
}

.icon {
  font-size: 20px;
}
