.linkAboutMenu {
  display: block;
  margin: 1.5rem 0;
  font-weight: 600;
  text-decoration: none;
  color: #0874a4;
  user-select: none;
  font-size: 12px;
}
.linkAboutMenu:hover {
  transition: all 0.5s;
  transform: translateX(1rem);
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration: none;
}
