.subText {
  color: black;
  border: 1px solid black;
}
.news {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.text {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.text p {
  cursor: pointer;
  color: white;
  font-size: 2rem;
}

.icon {
  color: white;
  font-size: 2rem;
}

.box {
  position: relative;
  height: 30vh;
  overflow: hidden;
  margin-top: 3rem;
}

.box1 {
  grid-column: 1/3;
  grid-row: 1/3;
  height: 62vh;
}
.box img {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  transition: 1s;
}
.box img:hover {
  transform: scale(1.2);
}

.bottom {
  bottom: 20px;
  left: 20px;
  position: absolute;
}
.subTitle h1 {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
.subTitle1 h1 {
  color: white;
  font-size: 1.6rem;
}
.text1 p {
  color: white;
  font-size: 1.2rem;
}
.one {
  margin: 4rem;
  display: flex;
  grid-template-columns: 2fr 1fr;
  gap: 4rem;
}
.box1 {
  border: 2px solid black;
}
.oneTitle {
  font-size: 2rem;
}
.date {
  margin-top: 2rem;
  font-size: 1.4rem;
}
.newsInfo p {
  margin-top: 2rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.leftSide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}



@media (max-width: 1033px) {
  .one {
    margin: 4rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .leftSide {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 575px) {
  .one {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .leftSide {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
  }
}
